<div class="container">
  <div class="row h-100">
    <div class="col-sm-12 my-auto">
      <h2><p class="text-center">Регистрация нового пользователя</p></h2>
      <div class="row mt-4 justify-content-center" >
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

            <div class="jumbotron">
              <div class="col text-center justify-content-center align-self-center">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="col text-center justify-content-center align-self-center">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>

              <div class="col text-center justify-content-center align-self-center">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>

              <div class="col text-center justify-content-center align-self-center">
                <div class="form-control-lg">
                  <%= f.submit "Зарегистрироваться" %>
                </div>
              </div>

              <div class="text-center">
                <%= render "devise/shared/links" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


